<section id="banner" style="background: #F9F3EC;">
  <div class="container">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide py-5">
          <div class="row banner-content align-items-center">
            <div class="img-wrapper col-md-5">
              <img src="assets/images/banner-img.png" class="img-fluid">
            </div>
            <div class="content-wrapper col-md-7 p-5 mb-5">
              <div class="secondary-font text-primary text-uppercase mb-4 ">Manuel Animal</div>
              <h2 class="banner-title display-1 fw-normal">Welcome to the destination <span class="text-primary ">
                    of animals</span>
              </h2>
              <button href="/dogs" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 mt-5">
                Read More </button>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
<app-animals></app-animals>
