<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <a href="#" class="logo">
          <img src="assets/images/logo%20animal.png" class="img-fluid w-75" alt="IMG-LOGO">
        </a>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-3 text-white fs-5">Home</a></li>
        <li><a routerLink="/dogs/" class="nav-link px-3 text-white fs-5">Dogs</a></li>
        <li><a routerLink="/cats/" class="nav-link px-3 text-white fs-5">Cats</a></li>
        <li><a routerLink="/birds/" class="nav-link px-3 text-white fs-5">Birds</a></li>
      </ul>

      <div class="text-end">
        <button type="button" routerLink="/admin/" class="btn btn-outline-light me-2">Admin</button>
      </div>
    </div>
  </div>
</header>
