<div class="container my-5 container-fluid" xmlns="http://www.w3.org/1999/html">
  <section class="border p-4 mb-4 d-flex flex-column">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <span class="fs-3">Dogs</span>
      <button class="btn btn-md btn-outline-primary" >
        <i class="fa fa-plus-square" ></i>New Dog
      </button>
      <form class="d-flex" [formGroup]="searchform">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" formControlName="name">
          <button type="button" class="btn btn-outline-primary" (click)="searchDogs()">Search</button>
        </div>
      </form>
    </div>
  </section>

  <div class="row">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID </th>
      <th>Name</th>
      <th>Description</th>
      <th>Image </th>
      <th>Origin</th>
      <th>Breed group</th>
      <th>Size</th>
      <th>Lifespan</th>
      <th>Temperament</th>
      <th>Colors</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dog of dogs " >
      <td><span>{{ dog.id }}</span></td>
      <td><span>{{ dog.name }}</span></td>
      <td><span>{{ dog.description }}</span></td>
      <td><img style="width: 3rem;" [src]="dog.image"/></td>
      <td><span>{{ dog.origin }}</span></td>
      <td><span>{{ dog.breed_group }}</span></td>
      <td><span>{{dog.size}}</span></td>
      <td><span>{{dog.lifespan}}</span></td>
      <td><span>{{dog.temperament}}</span></td>
      <td><span>{{dog.colors}}</span></td>

      <td><span>
        <button class="btn btn-sm btn-warning" >
          <i class="fa fa-edit" ></i>Edit
        </button>
        <button class="btn btn-sm btn-danger"   >
          <i class="fa fa-remove" ></i>Delete
        </button>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</div>


<!--&lt;!&ndash; Modal Create &ndash;&gt;-->
<!--<div class="modal fade bd-example-modal-lg" id="modalDogs" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="modalDogsLabel">{{ selectedDog?.name }}</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body" >-->
<!--        <img [src]="selectedDog?.image" class="img-fluid" alt="{{ selectedDog?.name }}">-->
<!--        <p><strong>Name : </strong>{{selectedDog?.name}}</p>-->
<!--        <p><strong>Breed group : </strong>{{selectedDog?.breed_group}}</p>-->
<!--        <p><strong>Origin:</strong> {{ selectedDog?.origin }}</p>-->
<!--        <p><strong>Size : </strong>{{ selectedDog?.size }}</p>-->
<!--        <p><strong>Lifespan : </strong>{{ selectedDog?.lifespan }}</p>-->
<!--        <p><strong>Temperament : </strong>{{ selectedDog?.temperament }}</p>-->
<!--        <p><strong>Colors : </strong>{{ selectedDog?.colors }}</p>-->
<!--        <p><strong>Description:</strong> {{ selectedDog?.description }}</p>-->

<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
