<div class="container mt-4">

  <section class="border p-4 mb-4 d-flex flex-column">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <span class="fs-3">Cats</span>
      <form class="d-flex" [formGroup]="searchform">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" formControlName="name">
          <button type="button" class="btn btn-outline-primary" (click)="searchCats()">Search</button>
        </div>
      </form>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let cat of cats">
      <div class="card" style="width: 18rem;">
        <img [src]="environment.apiBaseUrl  + cat.imagePath " class="card-img-top" alt="{{cat.name}}">
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
          <p class="card-text">Origin : {{ cat.origin }}</p>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCats" (click)="selectCat(cat)">Read More</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalCats" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDogsLabel">{{ selectedCat?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
          <img [src]="environment.apiBaseUrl  + selectedCat.imagePath " class="img-fluid" alt="{{ selectedCat?.name }}">
        <p><strong>Name : </strong>{{selectedCat?.name}}</p>
        <p><strong>Origin:</strong> {{ selectedCat?.origin }}</p>
        <p><strong>Temperament : </strong>{{ selectedCat?.temperament }}</p>
        <p><strong>Colors : </strong>{{ selectedCat?.colors }}</p>
        <p><strong>Description:</strong> {{ selectedCat?.description }}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
